#
config.py
test.py
Visualisierung.ipynb
Recommender.ipynb
.ipynb_checkpoints/
__pycache__/
movies_dataset.pk
movies_dataset.csv
movies_metadata.csv
first_venv/
einbetten/
bilder/
utils/
df_genre.csv
links_small.csv
keywords.csv
credits.csv
df_content_based_soup.csv
